---
import "@style/global.css";
import "@fontsource-variable/space-grotesk/wght.css";
import SEO from "@components/SEO.astro";

interface Props {
	lang: "en" | "es" | "pt";
}

const { lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<SEO />
		<script is:inline>
			const getTheme = () => {
				if (
					typeof localStorage !== "undefined" &&
					localStorage.getItem("theme")
				) {
					return localStorage.getItem("theme");
				}
				return window.matchMedia("(prefers-color-scheme: dark)").matches
					? "dark"
					: "light";
			};

			const theme = getTheme();

			if (theme === "dark") {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}

			window.localStorage.setItem("theme", theme);
		</script>
	</head>
	<body
		class="bg-noise bg-light text-light-general dark:bg-dark dark:text-dark-general transition-colors duration-200"
	>
		<slot />
	</body>
</html>
