---
import Logo from "@components/astro/ui/Logo.astro";
import { AuthControl } from "@components/preact/auth/AuthButton.tsx";
import AuthControlSkeleton from "@components/astro/skeleton/AuthControlSkeleton.astro";

const session = Astro.locals.session;
---

<header class="my-2 mx-6 flex justify-between items-center">
  <div class="flex-1">
    <Logo />
  </div>

  <nav class="flex-1 flex justify-center">
    <ul class="flex items-center gap-6">
      <li data-backdrop>
        <a class="hover:black" href="https://dashboard.ir-a.online">
          Dashboard
        </a>
      </li>
      <li data-backdrop>
        <a class="hover:black" href="https://github.com/Eze-sk" target="_blank">
          Github
        </a>
      </li>
    </ul>
  </nav>

  <div class="flex-1 flex justify-end items-center gap-4">
    {
      session ?? (
        <AuthControl client:only="preact">
          <AuthControlSkeleton slot="fallback" />
        </AuthControl>
      )
    }
  </div>
</header>
