---
import Logo from "@components/astro/ui/Logo.astro";
import { AuthControl } from "@components/preact/auth/AuthButton.tsx";
import AuthControlSkeleton from "@components/astro/skeleton/AuthControlSkeleton.astro";

const session = Astro.locals.session;
---

<header class="my-2 mx-6 flex justify-between items-center">
  <div class="flex-1">
    <Logo />
  </div>

  <nav class="flex-1 flex justify-center">
    <ul class="flex items-center gap-6">
      <li data-backdrop>
        <a class="hover:black" href="https://dashboard.ir-a.online">
          Dashboard
        </a>
      </li>
      <li data-backdrop>
        <a class="hover:black" href="https://github.com/Eze-sk" target="_blank">
          Github
        </a>
      </li>
    </ul>
  </nav>

  <div
    id="menu-backdrop"
    class={`
      absolute bg-darkBlue/5 backdrop-blur-lg rounded
      translate-x-[var(--left)] translate-y-[var(--top)]
      left-0 top-0
      w-[var(--width)] h-[var(--height)]
      transition-all duration-500
      ease-in-out opacity-0 -z-10
    `}
  >
  </div>

  <div class="flex-1 flex justify-end items-center gap-4">
    {
      session ?? (
        <AuthControl client:only="preact">
          <AuthControlSkeleton slot="fallback" />
        </AuthControl>
      )
    }
  </div>
</header>

<script is:inline>
  document.addEventListener("mouseover", (e) => {
    const el = e.target.closest("[data-backdrop]");
    if (!el) return;

    const menuBackdrop = document.querySelector("#menu-backdrop");
    if (!menuBackdrop) return;

    const { left, top, width, height } = el.getBoundingClientRect();

    menuBackdrop.style.setProperty("--left", `${left - 5}px`);
    menuBackdrop.style.setProperty("--top", `${top - 2.9}px`);
    menuBackdrop.style.setProperty("--width", `${width + 10}px`);
    menuBackdrop.style.setProperty("--height", `${height + 5}px`);

    menuBackdrop.style.opacity = "1";
    menuBackdrop.style.visibility = "visible";
  });

  document.addEventListener("mouseout", (e) => {
    const el = e.target.closest("[data-backdrop]");
    if (!el) return;

    const menuBackdrop = document.querySelector("#menu-backdrop");
    if (menuBackdrop) {
      menuBackdrop.style.opacity = "0";
      menuBackdrop.style.visibility = "hidden";
    }
  });
</script>
