---
import Logo from "@components/astro/ui/Logo.astro";
import { AuthControl } from "@components/preact/auth/AuthButton.tsx";
import AuthControlSkeleton from "@components/astro/skeleton/AuthControlSkeleton.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const session = Astro.locals.session;
---

<header class="my-2 mx-6 flex justify-between items-center">
  <div class="flex-1">
    <Logo />
  </div>

  <nav class="flex-1 flex justify-center">
    <ul class="flex items-center gap-6">
      <li data-backdrop>
        <a
          title={t("tagTitles.dashboard")}
          href="https://dashboard.ir-a.online"
        >
          {t("header.dashboard")}
        </a>
      </li>
      <li data-backdrop>
        <a
          title={t("tagTitles.github")}
          href="https://github.com/Eze-sk"
          target="_blank"
        >
          GitHub
        </a>
      </li>
    </ul>
  </nav>

  <div class="flex-1 flex justify-end items-center gap-4">
    {
      session ?? (
        <AuthControl client:only="preact">
          <AuthControlSkeleton slot="fallback" />
        </AuthControl>
      )
    }
  </div>
</header>
