---
import ShorteningCard from "@components/astro/ui/ShorteningCard.astro";
import Header from "./Header.astro";
import Title from "../ui/Title.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div>
  <Header />
  <section class="flex items-center flex-col">
    <Title
      staticText={t("hero.title.static")}
      dynamicText={t("hero.title.dynamic")}
      firstDynamic={t("hero.title.firstDynamic")}
    />
    <p class="mt-12 max-w-[40ch] text-center">
      {t("hero.paragraph")}
    </p>
    <ShorteningCard />
  </section>
</div>
