---
import ShorteningCard from "@components/astro/ui/ShorteningCard.astro";

import Header from "./Header.astro";
---

<div>
  <Header />
  <section class="flex items-center flex-col">
    <h1 class="text-8xl mt-10 text-center text-balance max-w-[11ch]">
      Shorten links in one click
    </h1>
    <p class="mt-12 max-w-[40ch] text-center">
      Transform complex links into quick and secure connections. 
      The network architecture your projects need, 
      optimized for the era of instant access.
    </p>
    <ShorteningCard />
  </section>
</div>