@import "tailwindcss";
@import "flowbite/src/themes/default";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light: oklch(0.9937 0.0095 93.57);
  --color-light-general: oklch(0.3751 0.0352 247.23);
  --color-light-annotation: oklch(0.61 0.21 255);

  --color-dark: oklch(0.22 0.02 247.23);
  --color-dark-general: oklch(0.93 0.015 247.23);
  --color-dark-annotation: oklch(0.68 0.19 255);
}

:root {
  --active: var(--color-light-annotation);
  --bg-noise: url("/bg-noise-light.png");
}

.dark {
  --bg-noise: url("/bg-noise-dark.png");
}

body {
  font-family: 'Space Grotesk Variable', sans-serif;
}

.bg-noise {
  background-image: var(--bg-noise);
  background-repeat: repeat;
}

h1,
h2,
h3 {
  font-family: 'Michroma', sans-serif;
}

p {
  text-wrap: pretty;
}

button {
  cursor: pointer;
}

.activeButton:active {
  transition: 200ms;
  transform: scale(0.9);
}

.group:active {
  .activeButton {
    transition: 200ms;
    transform: scale(0.9);
  }
}

.custom-input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  transition: border-color 0.3s;
}

.custom-input:focus {
  border-bottom-color: var(--active);
}