---
import ThemeToggle from "./ThemeToggle.astro";
import TranslationAction from "./TranslationAction.astro";
---

<ul
  id="floating-menu"
  class="fixed left-5 bottom-5 top-auto flex flex-col gap-4 p-0 m-0 bg-transparent overflow-visible"
  popover="manual"
>
  <li>
    <TranslationAction />
  </li>
  <li>
    <ThemeToggle />
  </li>
</ul>
