<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="ir-a.online" />
<link rel="manifest" href="/site.webmanifest" />

<title>Shorty | Fast, Free & Anonymous URL Shortener</title>
<meta name="description" content="
  Shorty is the easiest way to shorten long URLs. Create tiny, shareable links in seconds. 
  No registration required. Fast, secure, and reliable link management.
">
